{% extends 'base.html.twig' %}
{% block title %}Edit attribute{% endblock %}
{% block body %}
    <h1>Edit attribute</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
    {{ response }}
{% endblock %}